asgiref==3.11.1
certifi
charset-normalizer==3.4.7
cloudinary>=1.4.0
crispy-bootstrap5==2026.3
Django==6.0.5
django-ckeditor-5==0.2.20
django-cloudinary-storage==0.3.0
django-crispy-forms==2.6
django-js-asset==3.1.2
gunicorn==26.0.0
idna>=2.5
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
python-decouple==3.8
reportlab==4.5.1
requests>=2.10.0
six
sqlparse==0.5.5
urllib3>=1.26.5
whitenoise==6.12.0
